* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}
#main-content {
  display: flex;
  height: 100vh;
}
#left {
  position: relative;
  width: 25%;
  background-image: url('../images/bg-main-desktop.png');
}
#front-card {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 100%;
}
#front-card img {
  width: 100%;
}
#front-card #top-icon {
  position: absolute;
  top: 10%;
  left: 5%;
}
#front-card #card-number {
  position: absolute;
  color: white;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}
#front-card #card-name {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 12%;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#front-card #expiry-date {
  color: white;
  position: absolute;
  right: 13%;
  bottom: 10%;
  font-size: 0.8rem;
}
#back-card {
  position: absolute;
  left: 45%;
  top: 55%;
  width: 100%;
}
#back-card img {
  width: 100%;
}
#back-card #cvc-number {
  position: absolute;
  color: white;
  right: 15%;
  top: 35%;
}
#right {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the form */
#card {
  width: 35%;
}
#card label,
#card input {
  width: 100%;
  display: block;
  margin-bottom: 0.5em;
}
#card .single {
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid hsl(270, 3%, 87%);
}
#date-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#date-group .form-group input[type=number]{
  width: 25%;
  display: inline-block;
  padding: 0.5em;
}
#date-group .form-group:last-child {
  width: 50%;
}
#date-group .form-group input[type=text],
#date-group .form-group input[type=number]{
  padding: 0.5em;
  border: 2px solid hsl(270, 3%, 87%);
}
#card input[type=submit]{
  margin-top: 1em;
  padding: 0.6em;
  background-color: hsl(278, 68%, 11%);
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.3em;
}
#card input[type=submit]:hover {
  opacity: 0.9;
}
@media screen and (max-width: 1248px){
  #back-card #cvc-number {
    font-size: 0.7em;
  }
  #front-card #card-number {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 900px){
  #front-card {
    width: 110%;
  }
  #front-card #top-icon {
    width: 25%;
  }
  #front-card #card-number {
    letter-spacing: 0;
    font-size: 0.7em
  }
  #front-card #card-name {
    font-size: 0.6em;
  }
  #front-card #expiry-date {
    font-size: 0.6em;
  }
  #back-card {
    width: 110%;
  }
  #back-card #cvc-number {
    font-size: 0.6em;
    top: 32%;
  }
  #card label {
    font-size: 0.8em;
  }
  #card {
    width: 50%;
  }
}
.right-after {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-after h2 {
  font-size: 1.3em;
  margin-bottom: 0;
}
.right-after p {
  font-size: 0.8em;
  color: hsl(279, 6%, 55%);
}
.right-after button {
  border: none;
  padding: 10px;
  width: 25%;
  border-radius: 5px;
  background-color:hsl(278, 68%, 11%);
  color: white;
  cursor: pointer;
}
.right-after button:hover {
  opacity: 0.9;
}